<h2 class="text-2xl font-medium p-0">Bulk resolution</h2>
<p>Upload batch resolution</p>
<div class="mt-8">
  <div class="px-1 pb-1">
    <mat-card>
      <mat-card-content>
        <div class="w-full">
          <form (ngSubmit)="onSubmit()" [formGroup]="form" class="pt-1.5">

            <input id="my-file-selector" type="file" (change)="onFileInputChange($event)" formControlName="file" />
            <!-- <ngx-mat-file-input (ngModelChange)="onFileInputChange($event)" accept=".csv"
                                  formControlName="file"></ngx-mat-file-input> -->


            <!--<mat-radio-group aria-label="Select an option" formControlName="status">
              <mat-radio-button value="COMPLETED">Mark as complete</mat-radio-button>
              <mat-radio-button value="FAILED">Mark as failed</mat-radio-button>
            </mat-radio-group>-->

            <mat-radio-group aria-label="Select an option" formControlName="status">
              <mat-radio-button value="COMPLETED">COMPLETED</mat-radio-button>
              <mat-radio-button value="FAILED">FAILED</mat-radio-button>

            </mat-radio-group>
            <!--            <mat-radio-group>-->

            <!--              <div>-->
            <!--                <input (change)="onRadioChange($event)" id="COMPLETED" name="options" type="radio" value="COMPLETED">-->
            <!--                <label for="COMPLETED">Make as completed</label>-->
            <!--              </div>-->
            <!--              <div>-->
            <!--                <input (change)="onRadioChange($event)" id="FAILED" name="options" type="radio" value="FAILED">-->
            <!--                <label for="FAILED">Make as failed</label>-->
            <!--              </div>-->
            <!--            </mat-radio-group>-->


            <div class="mt-6 flex items-center gap-3">
              <button color="primary" mat-raised-button type="submit">Submit</button>
              <button mat-raised-button type="reset">Cancel</button>
            </div>

          </form>
        </div>
      </mat-card-content>
    </mat-card>


  </div>
</div>


<p-dialog header="Header" [(visible)]="displayBasic" [style]="{
  width: '80vw', 
  padding: '5px', 
  fontSize: '15px', 
  fontWeight: '500', 
  fontFamily: 'cursive', 
  border: '2px solid black', 
  borderRadius: '5px'
}">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Bulk Resolution</span>
  </ng-template>

  <div class="card">
    <p-toast></p-toast>
    <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex"
      (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
    <div *ngIf="activeIndex ===0">
      <p>Date: {{date | date:'dd-MM-YYYY'}}</p>
      <p>Action: {{data[0]?.status}}</p>

      <p-table [value]="tableRecords" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let header of tableTitle">{{ header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr *ngFor="let data of tableRecords; let i = index">
            <td *ngFor="let header of tableTitle">
              {{ data[header] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="activeIndex ===1">
      Start Date:
      <p-calendar [(ngModel)]="fromdate" [showIcon]="true"></p-calendar>
      End Date:
      <p-calendar [(ngModel)]="todate" [showIcon]="true"></p-calendar>
      <p-button icon="pi pi-search" styleClass="p-button-success" (click)="findDate()">Search</p-button>
      <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">

        <ng-template pTemplate="header">
          <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Status</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.date | date:'dd/MM/YYYY' }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.status }}</td>

          </tr>
        </ng-template>
      </p-table>
    </div>



  </div>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" (click)="cancel()" styleClass="p-button-warning"></p-button>
    <p-button label="Next" (click)="next()"></p-button>
  </ng-template>
</p-dialog>